 /* font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif; */
 html {
   font-size: 10px;

 }

 body {
   //background: linear-gradient(to bottom left, #ccffff 0%, #cc99ff 86%);
   background: linear-gradient(to top, #cce0f3 4%, #80a4cb 88%);

   background: linear-gradient(to bottom right, $color-primary, $color-panton-blue );

   font-size: 1.6rem;
   font-family: "Poppins", sans-serif;
   margin: 0px;

 }

 h1 {
   font-family: "Poppins", sans-serif;
   font-size: 4.5rem;
   font-weight: normal;
   letter-spacing: 0.06em;
   line-height: 3.5rem;
 }

 h2 {
   font-family: "Poppins", sans-serif;
   font-size: 4.2rem;
   font-weight: normal;
   letter-spacing: 0.07em;
   line-height: 3.5rem;
   color: $color-panton-blue;
 }

 h3 {
   font-family: "Poppins", sans-serif;
   font-size: 2.5rem;
   font-weight: normal;
   letter-spacing: 0.07em;
   line-height: 3.5rem;
   color: $color-light-s
 }

 a {
   font-family: "Poppins", sans-serif;
   font-size: 4.5rem;
   font-weight: normal;
   letter-spacing: 0.06em;
   line-height: 3.5rem;
   cursor: pointer;
   text-decoration: none;

   &:active {
     text-decoration: none;
   }
 }

 p {
   font-family: "Poppins", sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 2.6rem;
   line-height: 3rem;
   color: rgb(0, 71, 187);
 }

 ul {
   list-style: none;
 }