.button__bordered {
  background: $color-panton-blue;
  color: $color-light-s;
  padding: 20px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;
  color: $color-light-s;
  border: 0px solid $color-light-s;
  cursor: pointer;
}